#c1column1{
background-color:red;
color:blue;
float:left;	
width:20%;
text-align:center;
height:563px; 
}
#c1column2{
background-color:yellow;
color:orange;
float:left;
width:60%;
text-align:center;
height:563px;
}
#c1column3{
background-color:dodgerblue;
color:tomato;
float:left;
width:20%;
text-align:center;
height:563px;
}
p{
font-size:30px;
margin:0;
padding-top:281.5px;  
}