.row{
    overflow:hidden;
}
.col1{
    width:33.33%;
    height:500px;
    float:left;
}
.col2{
    width:33.33%;
    height:500px;
    float:left;
}
.col3{
    width:33.33%;
    height:500px;
    float:left;
}