#content2:after{
content:" ";
display:table;
clear:both;
}
#c2column2{
background-color:red;
color:blue;
float:left;	
width:60%;
text-align:center;
height:563px; 
}
#c2column3{
background-color:yellow;
color:orange;
float:left;
width:20%;
text-align:center;
height:563px;
}
#c2column1{
background-color:dodgerblue;
color:tomato;
float:left;
width:20%;
text-align:center;
height:563px;
}
p{
font-size:30px;
margin:0;
padding-top:281.5px;  
}
#content2:after{
content:" ";
display:table;
clear:both;
}