#navbar{
    background-color:green;
    overflow:hidden;
}
#left-navbar{
    height:40px;
    float:left;
    position:relative;
    left:10%;
}
#right-navbar{
    height:40px;
    float:right;
    position:relative;
    right:10%;
}
a{
    color:black;
    position:relative;
    top:10px;
    font-size:large;
    text-decoration:none;
}
#active{
    background-color:black;
    color:darkgreen;
}
a:hover:not(#active){
    background-color:black;
    color:darkgreen;
}
